# Default ignored files
__pycache__/
venv/
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea
/.idea.functions_analysis.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
